<aside class="widget widget-tags">
	<h4 class="widget-title">Popular Tags</h4>
	<span class="cat-links">
		{{! Here are some examples below. You can add any tag you want. }}
		<a href="/community/tag/getting-started">Getting Started</a>
		<a href="/community/tag/digitalgarage">DigitalGarage</a>
		<a href="/community/tag/docker">Docker</a>
		<a href="/community/tag/paas">Paas</a>
		<a href="/community/tag/developers">Developers</a>
	</span>
</aside>