<aside class="widget widget-text">
	<p>
		<img class="brand-logo dark" src="{{asset "img/DigitalGarage_logo-footer.png"}}" alt="{{@blog.title}}" style="height:40px; margin-bottom: 20px;">
		DG Community is a space for developers to come together.
	</p>
</aside>