var mondoOptions = {
	'retina_logo': '',
	'disqus_shortname': '',
	'facebook_page': '',
	'copyright_text': 'DigitalGarage Community | Powered by <a href="http://cochera.dg-infra.thedigitalgarage.io">DigitalGarage</a>',
	'instagram': {
		'client_id': '',
		'access_token': '',
		'user_id': 0
	},
	'slider_items': [
		'welcome-to-ghost/'
	],
	'top_stories': [
		'welcome-to-ghost/'
	],
	'social_links': {
		'twitter': 'https://twitter.com/',
		'facebook': 'https://www.facebook.com/theDigitalGarage16/',
		'youtube': '',
		'pinterest': '',
		'dribbble': '',
		'instagram': '',
		'linkedin': 'https://www.linkedin.com/company/the-digital-garage',
		'tumblr': '',
		'google-plus': '',
		'behance': '',
		'flickr': '',
		'github-alt': '',
		'slideshare': '',
		'codepen': '',
		'reddit': '',
		'soundcloud': '',
		'steam': '',
		'twitch': '',
		'vine': 'https://vine.co/',
		'vk': '',
	},
}
