var mondoOptions = {
	'retina_logo': '',
	'disqus_shortname': 'thedigitalgarage',
	'facebook_page': '',
	'company_text': 'Digital Garage Community | Powered by <a href="http://www.thedigitalgarage.io" target="_blank">Digital Garage</a>',
	'copyright_text': 'Copyright &copy; 2016 The Digital Garage, LLC. All Rights Reserved.',
	'instagram': {
		'client_id': '',
		'access_token': '',
		'user_id': 0
	},
	'slider_items': [
		'hello-world/',
		'deploy-hello-world-on-the-digital-garage/',
		'simple-accessible-open',
		'how-to-access-the-digital-garage-via-the-command-line/'
	],
	'top_stories': [
		'hello-world/',
		'deploy-hello-world-on-the-digital-garage/',
		'simple-accessible-open',
		'how-to-access-the-digital-garage-via-the-command-line/'
	],
	'social_links': {
		'linkedin': 'https://www.linkedin.com/company/the-digital-garage',
		'facebook': 'https://www.facebook.com/theDigitalGarage16/',
		'twitter': 'https://twitter.com/tDigitalGarage',
		'youtube': 'https://www.youtube.com/channel/UCMOsQ7qOWhvFlVdROO9cHWw',
		'vine': 'https://vine.co/u/1380238806321688576',
		'github-alt': 'https://github.com/thedigitalgarage',
		'pinterest': '',
		'dribbble': '',
		'instagram': '',
		'tumblr': '',
		'google-plus': '',
		'behance': '',
		'flickr': '',
		'slideshare': '',
		'codepen': '',
		'reddit': '',
		'soundcloud': '',
		'steam': '',
		'twitch': '',
		'vk': '',
	},
}