var mondoOptions = {
	'retina_logo': '',
	'disqus_shortname': 'thedigitalgarage',
	'facebook_page': '',
	'copyright_text': 'DigitalGarage Community | Powered by <a href="www.thedigitalgarage.io">DigitalGarage</a>',
	'instagram': {
		'client_id': '',
		'access_token': '',
		'user_id': 0
	},
	'slider_items': [
		'welcome-to-ghost/',
		'the-age-of-microservices/',
		'simple-accessible-open',
		'hello-world/'
	],
	'top_stories': [
		'welcome-to-ghost/',
		'the-age-of-microservices/',
		'simple-accessible-open',
		'hello-world/'
	],
	'social_links': {
		'twitter': 'https://twitter.com/tDigitalGarage',
		'facebook': 'https://www.facebook.com/theDigitalGarage16/',
		'youtube': 'https://www.youtube.com/channel/UCMOsQ7qOWhvFlVdROO9cHWw',
		'pinterest': '',
		'dribbble': '',
		'instagram': '',
		'linkedin': 'https://www.linkedin.com/company/the-digital-garage',
		'tumblr': '',
		'google-plus': '',
		'behance': '',
		'flickr': '',
		'github-alt': '',
		'slideshare': '',
		'codepen': '',
		'reddit': '',
		'soundcloud': '',
		'steam': '',
		'twitch': '',
		'vine': 'https://vine.co/u/1380238806321688576',
		'vk': '',
	},
}